/* css styles */
/*-- scss:defaults --*/
@font-face {
    font-family: JuliaMono;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono-webfonts/JuliaMono-Regular.woff2") format("woff2");
    font-display: swap;
    // font-weight: 400;
    // unicode-range: U+00-7F; /* Basic Latin characters */
}

$font-family-monospace: JuliaMono, Menlo, "Roboto Mono", "Lucida Sans Typewriter", "Source Code Pro", monospace !important;

.reveal code {
    span {
        max-height: 100% !important;
        font-size: 25 !important;
    }
}